---
import type { PrismicItem, BlogPost } from '../data/site-config';
import { getBlogPosts, getCases } from '../prismic';
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
import Hero from '../components/Hero.astro';
import PostPreview from '../components/PostPreview.astro';
import ProjectPreview from '../components/ProjectPreview.astro';
import siteConfig from '../data/site-config';

// prismic stuff
const blogPosts = (await getBlogPosts(true)) as any as PrismicItem[];
const caseStudies = (await getCases()) as PrismicItem[];
const casesSliced = caseStudies.slice(0, 3);
const postsSliced = blogPosts.slice(0, 3);
console.log(casesSliced)
---

<BaseLayout description={siteConfig.description} image={siteConfig.image}>
  <Hero />
  {
        casesSliced?.length > 0 && (
            <div class="mb-16 sm:mb-24">
                <h2 class="mb-12 text-xl font-heading sm:mb-16 sm:text-3xl">Latest Case Studies</h2>
                {casesSliced.map((project) => (
                    <ProjectPreview project={project.data} slug={project.slugs || ["404"]} class="mb-10 sm:mb-12" headingLevel="h3" />
                ))}
                <div class="mt-12 sm:mt-16">
                    <Button href="/projects">View All Projects</Button>
                </div>
            </div>
        )
    }
  {
    postsSliced.length > 0 && (
      <div class="mb-16 sm:mb-24">
        <h2 class="mb-12 text-xl font-heading sm:mb-16 sm:text-3xl">Latest Writing</h2>
        {postsSliced.map((post) => (
          <PostPreview post={post.data as BlogPost} slug={post.slugs || ['404']} class="mb-10 sm:mb-12" headingLevel="h3" />
        ))}
        <div class="mt-12 sm:mt-16">
          <Button href="/writing">View All Posts</Button>
        </div>
      </div>
    )
  }
</BaseLayout>
