---
import ArrowRight from '../icons/ArrowRight.astro';
import type { CaseStudy } from '../data/site-config';

type Props = { project: CaseStudy; class?: string; headingLevel?: 'h2' | 'h3'; slug: string[] };

const { project, class: className, headingLevel = 'h2', slug } = Astro.props;
const TitleTag = headingLevel;
---

<a
  class:list={['flex justify-between items-start gap-8 group rounded-lg p-4', className]}
  href={`/cases/${slug[0]}/`}
  style={{ backgroundColor: project.primary, color: project.secondary }}
>
  <div class={`grow`}>
    <TitleTag
      class="text-xl leading-tight font-heading font-medium group-hover:underline group-hover:decoration-dashed group-hover:underline-offset-4 group-hover:decoration-1 sm:text-2xl"
    >
      {project.listing_title} | <b>{project.client}</b>
    </TitleTag>
    {project.listing_blurb !== '-' && <div class="mt-1 text-sm leading-normal">{project.listing_blurb}</div>}
  </div>
  <div class="hidden font-heading opacity-0 transition group-hover:opacity-100 sm:inline-flex sm:gap-1 sm:items-center sm:shrink-0">
    View Project <ArrowRight class="fill-current w-4 h-4" />
  </div>
</a>
